---
import Layout from '../../components/Layout.astro'
// import Article from '../../components/Article.astro';
import { render } from 'astro:content'
import { getCollection } from 'astro:content';


// Generate all possible routes for blog posts
export async function getStaticPaths() {
  const posts = await getCollection('articles'); // Adjust collection name if needed
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

// Get the post object passed via props
const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout>
  <div class="container mx-auto py-10">
    <div class="max-w-[800px] m-auto">
      <h1>{post.data.title}</h1>
      <div class="flex items-center pt-4">
        <img class="w-[60px] h-[60px] object-cover rounded-full"src="/authors/ivanna.webp" />
        <div class="pl-3">
          <p class="text-[16px]">Ivanna Dover</p>
          <p class="text-[14px] opacity-[.75] leading-[22px]">January 8th, 2024 <span class="px-0.5">&bull;</span> 10 min read</p>
        </div>
      </div>
      <div class="py-10 aspect-video">
        <img 
          class="w-full object-cover rounded-lg overflow-hidden" 
          src="https://insiderfandom.com/wp-content/uploads/2024/12/Why-Did-Emma-Watson-Really-Dislike-Filming-the-Final-Harry-Potter-Movies-Behind-the-Scenes-of-Her-30-Million-Struggle-3-768x432.webp"
          alt="Blog Post Thumbnail" />
        
      </div>
      <div class="post-body">
        <Content />
      </div>
    </div>
  </div>
</Layout>
