:root {
  --dark-gray: rgb(68,68,68);
  --black: rgb(10, 12, 16);
  --cream: #F8F7F3;
  --btn-hover-opacity: 0.85;
  --red-dark: #800020;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: var(--black);
}

h1, .h1 {
  @apply text-[30px] leading-[1.25] md:text-[46px] md:leading-[1.15] md:tracking-[-.01em];
}

h2, .h2 {
  @apply text-[28px] md:text-[36px] leading-[1.15] md:tracking-[-.01em];
}

h3, .h3 {
  @apply text-[24px] md:text-[30px] leading-[1.15] md:tracking-[-.01em];
}

h4, .h4 {
  @apply text-[20px] md:text-[24px] leading-[1.15] md:tracking-[-.01em];
}

h5, .h5 {
  @apply text-[20px] md:text-[20px] leading-[1.15] md:tracking-[-.01em];
}

h6, .h6 {
  @apply text-[20px] md:text-[20px] leading-[1.15] tracking-[0.01em];
}

p, .p, a, .a {
  @apply text-[16px] md:text-[18px] leading-[1.65] md:tracking-[-.01em];
}

small, .small {
  @apply text-[14px] md:text-[14px] leading-[1.5] md:leading-[1.4];
}

.text-extra-small {
  @apply text-[14px] md:text-[14px] md:text-[12px] leading-[1];
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

em {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post-body a {
  color: var(--red-dark);
}

.post-body h1, 
.post-body h2, 
.post-body h3, 
.post-body h4, 
.post-body h5, 
.post-body h6 {
  margin-bottom: 16px; /* Adjust as needed */
  margin-top: 16px; /* Adjust as needed */
}

.post-body a {
  text-decoration: underline;
}

a:hover .title {
  text-decoration: underline;
}