h1 {
  @apply text-[44px] leading-[50px];
}

p, a {
  @apply text-[18px] leading-[30px];
}

small {
  @apply text-[14px];
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

em {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}