---
import Layout from '../components/Layout.astro'
import DonateBox from '../components/DonateBox.svelte'
---

<Layout>
  <section
    class='flex flex-col sm:flex-row justify-center py-10 gap-8 container max-w-[1000px] m-auto'
  >
    <div class='flex-1 flex flex-col gap-2'>
      <img width='250' src='/logo.png' />
      <h1 class="h4 py-3">
        <strong>We're reader-extorted local news.</strong>
      </h1>
      <p>
        Your donation makes local news available to all and supports
        the crypto day trading addictions and lambo collections of the
        C-level executives at our parent company.
      </p>
    </div>

    <div class='flex-1 sm:w-2/3 max-h-[70dvh] overflow-y-auto'>
      <h2 class='pb-4'>Select your donation:</h2>
      <DonateBox />
    </div>
  </section>
</Layout>
