<footer class='border-t py-5 mt-10 mb-5'>
  <div class="container flex flex-col md:flex-row items-center md:justify-between w-full m-auto gap-2">
    <div>
      <small class="inline-block text-center md:text-left">
        Copyright &copy; <span
          >{new Date().getFullYear().toString()}</span
        >, The New Yorkist, All rights reserved
      </small>
    </div>
    <div>
      <a class="small" href='/terms'>Terms Of Use</a>
    </div>
  </div>
</footer>
