<footer class='border-t py-5 mt-10'>
  <div class="container flex justify-between w-full m-auto">
    <div>
      <small>
        Copyright &copy; <span
          >{new Date().getFullYear().toString()}</span
        >, The New Yorkist, All rights reserved
      </small>
    </div>
    <div>
      <a class='text-xs' href='/terms'>Terms Of Use</a>
    </div>
  </div>
</footer>
