<footer class="border-t py-5">
  <div class="container mx-auto">
    <small>
      Copyright &copy; <span>{new Date().getFullYear().toString()}</span>, The New Yorkist, All rights reserved
    </small>
  </div>
</footer>