<footer class='border-t py-5 mt-10 flex justify-between w-full'>
  <div>
    <small>
      Copyright &copy; <span
        >{new Date().getFullYear().toString()}</span
      >, The New Yorkist, All rights reserved
    </small>
  </div>

  <div>
    <a class='text-xs' href='/terms'>Terms of use</a>
  </div>
</footer>
