---
import '../styles/globals.css'
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'
import TipPopup from './popups/Tip.svelte'
import NotificationsPopup from './popups/Notifications.svelte'
import { SEO } from "astro-seo";

const seo = Astro.props?.seo;

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/favicon.png' />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='google-adsense-account'
      content='ca-pub-2655846022144054'
    />
    <title>The New Yorkist</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel='preload' as='style' href='https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    
    {seo ? (
      <SEO
        title={seo.title}
        description={seo.description}
        openGraph={{
          basic: {
            title: seo.title,
            type: seo.type,
            image: seo.image.src
          }
        }}
      />
    ) : null}
    

    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-3KFGYR32R1'
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-3KFGYR32R1')
    </script>

    <script
      id='usercentrics-cmp'
      src='https://app.usercentrics.eu/browser-ui/latest/loader.js'
      data-settings-id='euME9MqlzPn4Ea'
      async></script>
  </head>

  <body class='bg-[var(--cream)] m-0 w-full mx-auto h-full'>
    <Nav />
    <main class="mx-auto max-w-[1200px] px-5">
      <slot />  
    </main>
    <Footer />
    <TipPopup client:load />
    <NotificationsPopup client:load />
  </body>
</html>
