<nav class="relative border-b border-b z-10">
  <div class="px-5 mx-auto pt-4 md:pt-8 pb-4 pb-4 md:pb-5 max-w-[1200px]">
    <div class="flex justify-between gap-2 items-end">
      <div class="flex-1 hidden md:block">
        <p id="current-date" class="small"></p>
      </div>
      <div class="flex-1 flex md:justify-center ml-[-2px] lg:ml-0">
        <a href="/" aria-label="Go Home">
          <img width="250" src="https://res.cloudinary.com/ddpw0my3h/image/upload/f_auto/v1736825181/logo_m2gtvk.webp" />
        </a>
      </div>
      <div class="flex-1 flex gap-2 justify-end">
        <a href="/donate" class="text-white text-xs bg-[var(--black)] hover:opacity-[var(--btn-hover-opacity)] small !leading-[1.2] py-2 px-4 rounded-l-full rounded-r-full">
          Donate
        </a>
        <a href="/live" class="flex items-center justify-content-center hover:opacity-[var(--btn-hover-opacity)] gap-2 px-4 !leading-[1.2] small bg-[#de1e3d] rounded-full text-white">
          <div class="bg-white h-2 w-2 rounded-full animate-pulse" />
          <span class="hidden md:block">Watch live</span>
          <span class="md:hidden">Live</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="border-b mt-1" />

<script>
  // Client-side date formatting
  const getFormattedDate = () => {
    const date = new Date();
    const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    const months = [
      'January', 'February', 'March', 'April', 'May', 'June',
      'July', 'August', 'September', 'October', 'November', 'December'
    ];

    const weekday = weekdays[date.getDay()];
    const month = months[date.getMonth()];
    const day = date.getDate();
    const year = date.getFullYear();

    return `${weekday}, ${month} ${day}, ${year}`;
  }


  // Set the date in the DOM
  document.addEventListener('DOMContentLoaded', () => {
    const dateElement = document.getElementById('current-date');
    if (dateElement) {
      dateElement.textContent = getFormattedDate();
    }
  });
</script>
